$primary: #0d6efd;
$secondary: #833bec;
$success: #1ce1ac;
$info: #ff7d50;
$warning: #ffbe0b;
$danger: #ff007f;
$light: #c0ccda;
$dark: #001738;

$gray-800: #343a40;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gray-dark": $gray-800,
);

@import "/node_modules/bootstrap/scss/bootstrap.scss";

$backgroundImage: "~@images/background.png";

.max-w-300 {
  max-width: 300px;
}
.max-h-300 {
  max-height: 300px;
}

footer,
main {
  position: relative;
  z-index: 2;
}

header {
  z-index: $zindex-sticky;
  box-shadow: 0px 0px 20px 0px #243349;
}

footer {
  box-shadow: 0px 0px 20px 0px #243349;
}

#main {
  position: relative;
  background-color: $dark;

  & > .background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(#{$backgroundImage});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
span {
  color: $light;
}
