$primary: #000;
$secondary: #833bec;
$success: #1ce1ac;
$info: #ff7d50;
$warning: #ffbe0b;
$danger: #ff007f;
$light: #c0ccda;
$dark: #001738;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

@import "/node_modules/bootstrap/scss/bootstrap.scss";

.max-w-300 {
  max-width: 300px;
}
.max-h-300 {
  max-height: 300px;
}
