@import "~@styles/globals.scss";

.card {
  box-shadow: 0 0 20px 0 rgba($white, 0.5);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 20px 0 rgba($white, 1);
  }

  &-poster {
    height: 290px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: top;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &-body {
    .btn-group {
      a {
        color: $white;
        background-color: $dark;
        border: none;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

        &:hover {
          color: $dark;
          background-color: $warning;
        }
      }
    }
  }

  &-title {
    a {
      color: $dark;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $gray-800;
      }
    }
  }
}

@media (min-width: 575px) {
  .card-poster {
    height: 250px;
  }
}
